
<%- include('partials/head') %>
  <%- include('partials/navbar') %>

  <div class="container" style="height: 100vh; padding: 40px">
    <div class="row">
    <% for (let i = 0; i < speciesInfo.length; i += 1) { %>
      <div class="col-sm-6 col-md-4">
        <div class="card" style="margin: 10px">
          <img class="card-img-top" src="/species<%= i + 1 %>.jpg">
          <div class="card-body">
            <h5 class="card-title"><%= speciesInfo[i].name %></h5>
            <p class="card-text"><%= speciesInfo[i].scientific_name %></p>
          </div>
        </div>
      </div>
    <% } %>
    </div>
  </div>

     <%- include ('partials/footer') %>